---
layout: layouts/base.njk
---
<h1><a href="/portfolio/" class="portfolio-title-link">Portfolio</a>: showing <em>{{ renderData.title or title }}</em>&nbsp;&nbsp;work</h1>

{%- set items = collections['portfoliotype/' + page.fileSlug] | reverse %}

{% include "components/portfolio/listing.njk" %}
