---
layout: layouts/base.njk
---
<h1>Portfolio: showing <em>{{ renderData.title or title }}</em>&nbsp;&nbsp;work</h1>

{%- set items = collections['portfoliopay/' + page.fileSlug] | reverse %}

{% include "components/portfolio/listing.njk" %}
