---
layout: layouts/base.njk
pagination:
  data: collections.portfolioByYear
  size: 1
  alias: year
---
<h1>Portfolio: showing <em>{{ year }}</em>&nbsp;&nbsp;work</h1>

{%- set items = collections.portfolioByYear[year] %}
{% include "components/portfolio/listing.njk" %}
