---
layout: layouts/base.njk
---
<article>
  <h1><a href="{{ page.url | url }}" title="Permanent link to this thought">{{ renderData.title or title }}</a></h1>

  <p><time datetime="{{ date | dateISO }}">{{ date | dateDM }} <a href="/thoughts/{{ date | dateY }}/" title="Time warp to {{ date | dateY }}">{{ date | dateY }}</a></time></p>

  {%- set items = tags | getTopicsForThought(collections.thoughtstopics) %}
  {% include 'components/thoughts/topics.njk' %}

  {{ content | inlineThumbnails | autop | safe }}

  {% if fileAttachments %}
  <h2>File attachments</h2>
  <ul>
    {% for fileAttachment in fileAttachments %}
    <li>
      {% if params.uploadsBaseURL %}<a href="{{ params.uploadsBaseURL }}files/{{ fileAttachment }}">{% endif %}
      {{ fileAttachment }}
      {% if params.uploadsBaseURL %}</a>{% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</article>

{% include 'components/thoughts/comment_form.njk' %}

{% if comments %}

<h2>Comments</h2>
<p><strong>{{ comments | length }}</strong></p>

  {% for comment in comments %}

<article{% if comment.isAuthorReply %} class="author-comment"{% endif %}>
    {% if comment.isAuthorReply %}
  <h3><a href="{{ params.authorURL }}">{{ params.authorName }}</a></h3>
    {% else %}
  <h3>{% if comment.url %}<a href="{{ comment.url | url }}" rel="nofollow">{% endif %}{{ comment.name }}{% if comment.url %}</a>{% endif %}</h3>
    {% endif %}

  <p><time datetime="{{ comment.date }}">{{ comment.date | parseISODate | dateDMY }}</time></p>

  {{ comment.comment | autop | safe }}
</article>

  {% endfor %}

{% endif %}
