---
layout: layouts/base.njk
pagination:
  data: collections.thoughts
  size: 10
  alias: items
  reverse: true
---
<h1>{{ renderData.title or title }}</h1>

{%- if not pagination.href.previous %}
{% include "components/thoughts/tag_cloud.njk" %}
{%- endif %}

{% include "components/pagination.njk" %}

{% include "components/thoughts/listing.njk" %}

{% include "components/pagination.njk" %}
