---
pagination:
  data: collections.thoughtsByTopic
  size: 1
  alias: topic
---
{% extends 'layouts/feed.njk' %}

{%- set items = collections.thoughtsByTopic[topic] %}

{% block header %}
  <title>{{ topic }} - {{ metadata.title }}</title>
  <subtitle>Thoughts filed in: {{ topic }}</subtitle>
  <link href="{{ params.baseURL }}/thoughts/topics/{{ topic }}/feed.xml" rel="self"/>
  <link href="{{ params.baseURL }}/thoughts/topics/{{ topic }}/"/>
  <id>{{ params.baseURL }}/thoughts/topics/{{ topic }}/</id>
{% endblock %}
