---
pagination:
  data: collections.thoughtsByTopic
  size: 1
  alias: topic
---
{% extends 'layouts/atom.njk' %}

{%- set items = collections.thoughtsByTopic[topic] %}

{% block header %}
  <title>{{ topic }} - {{ metadata.title }}</title>
  <subtitle>Poignant wit and hippie ramblings that are pertinent to {{ topic }}</subtitle>
  <link rel="self" href="{{ params.baseURL }}/thoughts/topics/{{ topic }}/atom/"/>
  <link rel="alternate" href="{{ params.baseURL }}/thoughts/topics/{{ topic }}/"/>
  <id>{{ params.baseURL }}/thoughts/topics/{{ topic }}/</id>
{% endblock %}
