---
layout: layouts/base.njk
pagination:
  data: collections.thoughtsByYear
  size: 1
  alias: year
---
<h1>Thoughts: time warp to <em>{{ year }}</em></h1>

{%- set items = collections.thoughtsByYear[year] %}
{% include "components/thoughts/listing.njk" %}
