<details>
  <summary><span class="summary-inner">Post a comment</span></summary>

  <form name="comments-queue" method="POST" action="/comment-thanks/" data-netlify netlify-honeypot="vermiciousknid" data-netlify-recaptcha>
    <input type="hidden" name="path" value="{{ page.inputPath | replace("./", "") | replace(".html", "") }}">
    <input type="hidden" name="title" value="{{ title }}">
    <p>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" maxlength="50" required>
    </p>
    <p>
      <label for="email">Email address:</label>
      <input type="email" name="email" id="email" required>
    </p>
    <p>
      <label for="url">URL:</label>
      <input type="text" name="url" id="url">
    </p>
    <p class="vermiciousknid">
      <label for="vermiciousknid">Vermicious knid:</label>
      <input type="text" name="vermiciousknid" id="vermiciousknid">
    </p>
    <p>
      <label for="comment">Comment:</label>
      <textarea name="comment" id="comment" cols="40" rows="10" maxlength="3000" required></textarea>
    </p>
    {% include 'components/recaptcha.njk' %}
    <p>
      <button type="submit" id="submit-form-button">Post</button>
    </p>
  </form>
</details>
