<article>
  <h2><a href="{{ item.url | url }}">{{ item.data.title }}</a></h2>

  <p class="date"><time datetime="{{ item.date | dateISO }}">{{ item.date | dateDM }} <a href="/thoughts/{{ item.date | dateY }}/" title="Time warp to {{ item.date | dateY }}">{{ item.date | dateY }}</a></time></p>

  {%- set items = item.data.tags | getTopicsForThought(collections.thoughtstopics) %}
  {% include 'components/thoughts/topics.njk' %}

  {% if item.data.comments %}
  <p>Comments: {{ item.data.comments | length }}</p>
  {% endif %}

  {% if item.data.teaser %}
  {{ item.data.teaser | inlineThumbnails | autop | safe }}
  {% endif %}
</article>
