{%- if params.recaptchaKey %}
<div id="recaptcha-wrapper"></div>
<script type="text/javascript">
window.recaptchaOnloadCallback = () => {
  document.getElementById('submit-after-recaptcha').textContent = window.originalSubmitFormButtonText;
  grecaptcha.render('recaptcha-wrapper', {'sitekey': '{{ params.recaptchaKey }}'});
};
</script>
{%- endif %}
