<?xml version="1.0" encoding="utf-8"?>
<feed xml:lang="en-au" xmlns="http://www.w3.org/2005/Atom">
  {%- block header -%}{%- endblock -%}
  <updated>{{ items | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  {%- asyncEach item in items %}
  {% set absolutePostUrl %}{{ item.url | url | absoluteUrl(params.baseURL) }}{% endset %}
  <entry>
    <title>{{ item.data.title }}</title>
    <link rel="alternate" href="{{ absolutePostUrl }}"/>
    <published>{{ item.date | dateToRfc3339 }}</published>
    <id>{{ absolutePostUrl }}</id>
    <summary type="html">
      <![CDATA[
        {{ item.template.frontMatter.content | autop | inlineThumbnails | htmlToAbsoluteUrls(absolutePostUrl) | safe }}
      ]]>
    </summary>
  </entry>
  {%- endeach %}
</feed>
