---
layout: layouts/base.njk
---
<article>
  <h1>{{ renderData.title or title }}</h1>

  {{ content | autop | safe }}

  <form name="contact" method="POST" action="/contact/thanks/" data-netlify netlify-honeypot="vermiciousknid" data-netlify-recaptcha>
    <p>
      <label for="name">Your name:</label>
      <input type="text" name="name" id="name" maxlength="100" required>
    </p>
    <p>
      <label for="email">Your e-mail:</label>
      <input type="email" name="email" id="email" required>
    </p>
    <p>
      <label for="subject">Subject:</label>
      <input type="text" name="subject" id="subject" maxlength="100" required>
    </p>
    <p class="vermiciousknid">
      <label for="vermiciousknid">Vermicious knid:</label>
      <input type="text" name="vermiciousknid" id="vermiciousknid">
    </p>
    <p>
      <label for="message">Message:</label>
      <textarea name="message" id="message" cols="40" rows="10" maxlength="3000" required></textarea>
    </p>
    <div data-netlify-recaptcha></div>
    <p>
      <button type="submit">Send</button>
    </p>
  </form>

  <p><strong>PS:</strong> my phone number and my e-mail address will be provided, after you first get in touch via the contact form above. I don't publish my direct contact details publicly.</p>
</article>
