{% extends 'layouts/atom.njk' %}

{% set items = collections.thoughts | reverse %}

{% block header %}
  <title>{{ metadata.title }}</title>
  <subtitle>All-natural web development, poignant wit, and hippie ramblings since 2004</subtitle>
  <link rel="self" href="{{ params.baseURL }}/atom/"/>
  <link rel="alternate" href="{{ params.baseURL }}/"/>
  <id>{{ params.baseURL }}/</id>
{% endblock %}
