---
layout: layouts/base.njk
---
{{ content | safe }}

<p class="byline"><em>Fresh <a href="/thoughts/">thoughts</a>:</em></p>

{% set items = [ collections.thoughts | last ] %}

<section class="freshest">
  {% include "components/thoughts/listing.njk" %}
</section>

<section class="wideflex-wrapper">
  <div>
    <p class="byline"><em>Also fresh:</em></p>

    {% set items = collections.thoughts | reverse | jsslice(1, 4) %}

    <ul>
    {% for item in items %}
      <li><a href="{{ item.url | url }}">{{ item.data.title }}</a> ({{item.date | dateDMY }})</li>
    {% endfor %}
    </ul>
  </div>
</section>
